<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/signin.css}" rel="stylesheet">

    <title>Login</title>
</head>

<body class="text-center">
    <main class="form-signin">

        <form th:action="@{/account/login}" method="post">
            <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
                height="57"></a>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                아이디 OR 비밀번호가 틀렸습니다.
            </div>
            <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                로그아웃 되었습니다.
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="이름">
                <label for="floatingInput"></label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="비밀번호">
                <label for="floatingPassword"></label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>

    <footer th:replace="fragments/common :: footer"></footer>
</body>

</html>